/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:rgb(0, 183, 255);
    color: #fff;
    padding: 20px 30px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
}
.home-content {
    display: flex;
    padding: 20px;
}

.image-container {
    flex: 1;
    padding: 0px;
}

.image-container img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.text-container h1 {
    font-size: 32px;
    color:#800080;
}
.text-container h6{
    color: crimson;
    font-size: large;
}
.gallery {
    padding: 20px;
    background-color: #f4f4f4;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 10px;
    border: 2px solid #ddd;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card {
    margin-top: 20px;
}

.card-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}
/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p, .footer-column ul, .footer-column li, .footer-column a {
    font-size: 14px;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
}

.footer-column a:hover {
    text-decoration: underline;
}
/* Button Message Styles */
.hidden {
    display: none;
    color: #007BFF;
    font-size: 16px;
    margin-top: 10px;
}

